body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level .level-content {
    display: flex;
    min-width: 1000px;
    gap: 10px;
}
.level button.apply-btn {
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #E10600;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.level p.error, .level p.wrong {
    text-align: center;
    color: #FF7276;
    font-size: 18px;
    display: none;
}





#parentCodeWindow {
    height: 500px;
    border: 0.20rem solid #E10600;
    border-radius: 0.7rem;
    flex-basis: 50%;
}
#parentCodeWindow .cm-editor {
    width: 100%;
    height: 100%;
}





.parent-square {
    aspect-ratio: 1 / 1;
    background-color: #ddd;
    border: 3px solid black;
    flex-basis: 50%;
    display: flex;
    gap: 5px;
}
.parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.parent-square .child-square:first-child {
    align-self: flex-start;
}
.parent-square .child-square:nth-child(2) {
    align-self: center;
}
.parent-square .child-square:last-child {
    align-self: flex-end;
}