.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.CodeMirror {
    border: 0.2rem solid #ED3C3F;
    min-width: 700px;
    border-radius: 1rem;
}