.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




#parentCodeWindow {
    width: 500px;
    height: 500px;
    border: 0.20rem solid #E10600;
    border-radius: 0.7rem;
}
#parentCodeWindow .cm-editor {
    width: 100%;
    height: 100%;
}