body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game .game-content {
    display: flex;
    min-width: 1000px;
    gap: 10px;
    align-items: center;
}
.game button.apply-btn {
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #E10600;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.game p.error, .game p.wrong {
    text-align: center;
    color: #FF7276;
    font-size: 18px;
    display: none;
}





#parentCodeWindow {
    height: 500px;
    border: 0.20rem solid #E10600;
    border-radius: 0.7rem;
    flex-basis: 50%;
}
#parentCodeWindow .cm-editor {
    width: 100%;
    height: 100%;
}


.game .level {
    flex-basis: 50%;
}





.parent-square {
    aspect-ratio: 1 / 1;
    background-color: #ddd;
    border: 3px solid black;
    display: flex;
    gap: 5px;
}
.child-square.numerated {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;

}




/*LEVEL ONE*/
.level-1 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-1 .parent-square .child-square:first-child {
    align-self: flex-start;
}
.level-1 .parent-square .child-square:nth-child(2) {
    align-self: center;
}
.level-1 .parent-square .child-square:last-child {
    align-self: flex-end;
}




/*LEVEL TWO*/
.level-2 {
    display: none;
}
.level-2 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-2 .parent-square .child-square:first-child {
    align-self: flex-start;
}
.level-2 .parent-square .child-square:nth-child(2) {
    align-self: flex-start;
}
.level-2 .parent-square .child-square:last-child {
    align-self: flex-start;
}






/*LEVEL THREE*/
.level-3 {
    display: none;
}
.level-3 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-3 .parent-square .child-square:first-child {
    align-self: center;
}
.level-3 .parent-square .child-square:nth-child(2) {
    align-self: center;
}
.level-3 .parent-square .child-square:last-child {
    align-self: center;
}






/*LEVEL FOUR*/
.level-4 {
    display: none;
}
.level-4 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-4 .parent-square .child-square:first-child {
    align-self: center;
}
.level-4 .parent-square .child-square:nth-child(2) {
    align-self: center;
}
.level-4 .parent-square .child-square:last-child {
    align-self: center;
}







/*LEVEL FIVE*/
.level-5 {
    display: none;
}
.level-5 .parent-square {
    flex-direction: column;
}
.level-5 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-5 .parent-square .child-square:first-child {
    align-self: center;
}
.level-5 .parent-square .child-square:nth-child(2) {
    align-self: center;
}
.level-5 .parent-square .child-square:last-child {
    align-self: center;
}





/*LEVEL SIX*/
.level-6 {
    display: none;
}
.level-6 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-6 .parent-square .child-square:first-child {
    align-self: center;
}
.level-6 .parent-square .child-square:nth-child(2) {
    align-self: center;
}
.level-6 .parent-square .child-square:last-child {
    align-self: center;
}




/*LEVEL SEVEN*/
.level-7 {
    display: none;
}
.level-7 .parent-square .child-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    background-color: red;
}
.level-7 .parent-square .child-square:first-child {
    align-self: flex-end;
}
.level-7 .parent-square .child-square:nth-child(2) {
    align-self: center;
}
.level-7 .parent-square .child-square:last-child {
    align-self: flex-start;
}







